* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*Sin margen es 0*/
  background-color: #f5f6f7;
  font-family: sans-serif;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

/*FlexBox*/
.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*Selector grupal Galeia y imagenes*/
.galeria img {
  width: 100%;
  max-width: 350px;
  height: 300px;
}